* {
    box-sizing: border-box;
}
body,h1,h2,p {
    margin: 0 ; 
    padding: 0;
}
header{
    width: 100%;
    background-color: aqua;
    text-align: center;
    line-height: 100px;
}
[class*="-face"] {
    width: 200px;
    height: 200px;
    background-color: rgb(196, 193, 193);
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.pip{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
}
section{
    display: flex;
    justify-content: space-evenly;
}
.first-face{
    justify-content: center;
    align-items: center;

}

    
.second-face .pip:nth-of-type(2) {
    align-self: flex-end;
  }


.third-face .pip:nth-of-type(2){
    align-self: center;
}


.third-face .pip:nth-of-type(3) {
    align-self: flex-end;
}
.colum{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fifth-face .colum:nth-of-type(2){
    justify-content: center;
    
}
